
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manage Online Shop</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/Assets/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Assets/Admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Notify  -->
    <link href="~/Assets/Admin/notify/css/alertify.css" rel="stylesheet" />
    <link href="~/Assets/Admin/notify/css/themes/default.css" rel="stylesheet" />

    <!-- Bootstrap  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="/Assets/Admin/vendor/jquery/jquery.min.js"></script>

    <script src="~/Assets/Admin/ckeditor/ckeditor.js"></script>
    <script src="https://ucarecdn.com/libs/widget/3.2.1/uploadcare.full.min.js" charset="utf-8"></script>
    <script>
        UPLOADCARE_PUBLIC_KEY = '180f792b5350b13de358';
    </script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        @RenderPage("_Navigation.cshtml");
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">@RenderSection("header", required: true)</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                @RenderBody()
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Assets/Admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/Assets/Admin/dist/js/sb-admin-2.js"></script>

    <!-- notìy -->
    <script src="~/Assets/Admin/notify/js/alertify.js"></script>
    @if (TempData["ShowMessage"] != null)
    {
        <script>
            $(document).ready(function () {
                alertify.set('notifier','position', 'top-right');
                var messageType = "@TempData["MessageType"]";
                if(messageType == "success"){
                    alertify.success("@TempData["ShowMessage"]");
                }
                else if (messageType == "error") {
                    alertify.error("@TempData["ShowMessage"]");
                }
            })
        </script>
    }
    <script src="~/Assets/Admin/price/jquery.priceformat.min.js"></script>
    <script src="~/Assets/Admin/price/jquery.priceformat.js"></script>
    <script src="~/Assets/Admin/price/prototype.priceformat.min.js"></script>
    <script src="~/Assets/Admin/price/prototype.priceformat.js"></script>
    <script>
        $(document).ready(function () {
            @RenderSection("childJavascript", required: false)
        })
    </script>
    @RenderSection("notity", required: false)

</body>

</html>
